[submodule "LightRAG"]
	path = LightRAG
	url = https://github.com/fuisl/LightRAG.git
[submodule "vllm-docker"]
	path = vllm-docker
	url = https://github.com/fuisl/vllm-test.git
[submodule "medgenerate"]
	path = medgenerate
	url = https://github.com/fuisl/medgenerate
