[submodule "LightRAG"]
	path = LightRAG
	url = https://github.com/fuisl/LightRAG.git
	branch = main
[submodule "vllm-docker"]
	path = vllm-docker
	url = https://github.com/fuisl/vllm-test.git
	branch = main
[submodule "medgenerate"]
	path = medgenerate
	url = https://github.com/fuisl/medgenerate
	branch = main
[submodule "multimodal-project-report"]
	path = multimodal-project-report
	url = https://github.com/fuisl/multimodal-project-report
	branch = main
